/*      Header      */
.top-header {
   display: none; 
}

.fixed-header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 48px;

    height: 48px;
    border: 1px solid grey;
    justify-content: flex-end;
}

.fixed-header .left {
    display: none;
}

.fixed-header .right {
    border: 1px dotted grey;
    width: 50px;
}

/*      Content        */
.content {
    margin-top: 48px;
}

.top-articles {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}