/*      Header      */
.top-header {
   display: none;
   height: 32px;
   background: rgba(37, 37, 8, 0.418); 
}

.sticky-header {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    margin-bottom: 48px;

    height: 48px;
    border: 1px solid grey;
    justify-content: flex-end;
    background: white;
}

.sticky-header .left {
    display: none;
}

.sticky-header .right {
    border: 1px dotted grey;
    width: 50px;
}

/*      Content        */
.content {
    margin-top: 48px;
    max-width: 1192px;
    margin: auto;
}

.top-articles {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 4px;
}

/* latest news */
.latest-news {
    border: 1px solid blue;
    padding: 0 20px;
}

.latest-news .container {
    display: flex;
    flex-direction: column;
}

.latest-news article {
    display: flex;
    border: 1px dotted red;
}

.latest-news .img{
    width: 75px;
    height: 75px;
    background-size: cover;
}

/*  latest funding */
.latest-funding {
    background: rgba(128, 0, 128, 0.164);
}

.latest-funding ul {
    display: flex;
    flex-direction: column;
}

.latest-funding .articles {
    display: flex;
    flex-direction: column;
}

.latest-funding article {
    height: 265px;
    border: 1px dotted rgb(146, 18, 18);
}

.latest-funding .articles > :last-child {
    display: none;
}

/* mini articles */
.mini-articles {
    background: rgba(0, 128, 0, 0.178);
    display: grid;
}

.mini-articles article {
    border: 1px dotted blue;
    height: 700px;
}

/* latest deals */
.latest-deals {
    background: rgba(255, 166, 0, 0.24);
}

.deals li {
    height: 88px;
    border: 1px dotted red;
}

.latest-deals .header {
    display: flex;
    justify-content: space-between;
}

/* footer */
footer {
    height: 283px;
    background: rgba(0, 0, 0, 0.384);
}


/* Media Queries */
@media (min-width: 768px) {
    .top-header{
        display: flex;
        flex-direction: row;
    }

    .left {
        display: flex;
        flex: 1;
        justify-self: flex-start;
    }

    .sticky-header .left {
        display: flex;
    }

    .right {
        display: flex;
        justify-self: flex-end;
    }

    .top-articles {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        height: 371.4px;
    }

    .top-articles > * {
        border: 1px dotted green;
    }

    .top-articles > :first-child {
        grid-row: 1 / 3;
    }

    .latest-news .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .latest-funding ul {
        flex-direction: row;
    }

    .latest-funding .articles {
        flex-direction: row;
    }

    .latest-funding article {
        flex: 1;
    }

    .mini-articles {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 683px);
    }

    .deals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .deals li {
        height: 280px;
    }
}

@media (min-width: 1024px) {
    .top-articles {
        height: 560px;
    }

    .latest-news .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .latest-funding .header {
        display: flex;
        justify-content: space-between;
    }

    .latest-funding .articles > :last-child {
        display: flex;
    }

    .mini-articles {
        grid-template-columns: repeat(3, 1fr);
    }

    .deals {
        grid-template-columns: repeat(4, 1frs);
    }
}